@model VgcCollege.Web.Models.StudentProfile

@{
    ViewData["Title"] = "Student Contact Details";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-info text-white">
                <h4 class="mb-0">Student Contact Details</h4>
            </div>
            <div class="card-body">
                <div class="text-center mb-4">
                    <i class="fas fa-user-graduate fa-4x text-info"></i>
                </div>
                
                <dl class="row">
                    <dt class="col-sm-4">Full Name:</dt>
                    <dd class="col-sm-8">@Model.Name</dd>
                    
                    <dt class="col-sm-4">Student Number:</dt>
                    <dd class="col-sm-8">@Model.StudentNumber</dd>
                    
                    <dt class="col-sm-4">Email:</dt>
                    <dd class="col-sm-8">
                        <a href="mailto:@Model.Email">@Model.Email</a>
                    </dd>
                    
                    <dt class="col-sm-4">Phone:</dt>
                    <dd class="col-sm-8">
                        <a href="tel:@Model.Phone">@Model.Phone</a>
                    </dd>
                    
                    <dt class="col-sm-4">Address:</dt>
                    <dd class="col-sm-8">@Model.Address</dd>
                    
                    <dt class="col-sm-4">Date of Birth:</dt>
                    <dd class="col-sm-8">@Model.DateOfBirth.ToShortDateString()</dd>
                </dl>
                
                <hr />
                
                <div class="text-center">
                    <a href="javascript:history.back()" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Back
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>